<!DOCTYPE html>
<html>
<head>
  <title>DeweyDash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<div class="header-container">
  <h1 class="header-text logo">DeweyDash</h1>
  <h5 class="header-text welcome-message">
      Welcome, <%= @user_name %>!
  </h5>
</div>
<nav>
  <%= render 'shared/nav' %>
  
</nav>
</header>
<%= yield %>

</body>
</html>
